// Fonts
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	src: url('Raleway-Thin.woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 300;
	src: url('Raleway-Light.woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

// Main vars
$backgroundColor: #4a4a4a;
$fontColor: #fdff3f;

// Mixins
@mixin transition() {
	transition: all 300ms;
}

@mixin center-container() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin center-item() {
	max-width: 75%;
	text-align: center;
}

@mixin circle($radius, $color) {
	width: $radius;
	height: $radius;
	border: 1px $color solid;
	border-radius: $radius;
}

// Windows
#main-window {
	@include center-container;

	background-color: $backgroundColor;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color: $fontColor;
}

// Elements
.cta-container {
	@include center-container;
	@include circle(400px, $fontColor);
	@include transition();

	&.dragover, &:hover {
		background-color: $fontColor;
		color: $backgroundColor;
	}
}

.cta {
	@include center-item;

	font-size: 50px;
}